<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="authentication-type" value="oauth" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="connection-type" value="dynamic" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="authentication-server-url" value="https://test-auth.picassi.co.uk/identity" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="db-server" value="(local)" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <connectionStrings>
    <add xdt:Transform="RemoveAll" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="Picassi.Common.Data.Connection.ApplicationConnectionFactory, Picassi.Common.Data" xdt:Transform="Insert"/>
  </entityFramework>
</configuration>